@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #fff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
}